#header{
	height:145px;
	width:100%;
	background: #339b00 url("header.png") 50% no-repeat;
	background-size:70% 145px;
	display:none;
	margin-bottom:10px;
}
#header_logo{
	height:145px;
	width:100%;
	background: #339b00 url("header.png") 50% no-repeat;
	background-size:70% 145px;
	margin-bottom:10px;
}
#login{
	font-family: Patrick Hand SC, Arial;
	font-size: 150%;
	height:100%;
	width:100%;
	background-color:#fff;
}
#login form{
	margin-top:20px;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	height:50px;
	width:450px;
}
#field{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
}